# 设置默认行为，自动处理行尾符
* text=auto

# 明确指定文本文件使用LF
*.py text eol=lf
*.txt text eol=lf
*.md text eol=lf
*.json text eol=lf
*.conf text eol=lf
*.bat text eol=crlf

# 二进制文件
*.ico binary
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.exe binary
*.zip binary
